.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

#markdown-input, #html-output {
  float: left;
  padding: 2em;
  height: 20em;
}

#markdown-input textarea {
  width: 20em;
  height: 20em;
}

/* Slides Styling */

.slide h1 {
  background-color: lightblue;
}

.current-page {
  position: absolute;
  top: 35em;
}
